<div class="row p-2 m-2">
    <h1><%= t ".title" %></h1>
</div>
<div class="row">
    <div class="col-3 container">
        <div id="map-form" class="row border border-secondary rounded p-2 m-2">
            <form action="/maps" method="GET">
                <div class=mb-3>
                    <label for="state-select" class="form-label">States</label>
                    <select id="state-select" name="state" class="form-select" aria-label="State select">
                        <option selected>Select one</option>
                        <% @states.each do |state| %>
                            <option value="<%= state.name %>"><%= state.name %></option>
                        <% end %>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary float-end">Submit</button>
            </form>
        </div>   
    </div> 
    <div class="col border border-secondary rounded p-2 m-2">
        <div 
            id="map"
            data-controller="map"
            data-map-beaches-value="<%= @beaches.to_json %>"
            data-map-location-value="<%= @location || {}.to_json %>"
        >
        </div>    
    </div>   
</div>